<div class="cont">
  <div class="picture-block">
    <img src={{titleImageUrl}}/>
  </div>
  <div class="info">
    <div class="name-block" (click)="toProductPage(product)">
      {{product.name}}
    </div>
    <div class="buy-block">
      <div id="price">{{product.price}} UAH</div>
      <button class="button" (click)="addProductToCart(product)">Buy!</button>
    </div>
  </div>
</div>
