:host{
  width: 20%;
  margin: 2%;
  padding: 2%;
  display:flex;
  flex-direction: column;
  cursor: pointer;
  background-color: rgb(189, 236, 239)
}

.picture-block{
  width: 100%;
  flex-basis: 60%;
}
.name-block{
  font-size: 130%;
  font-weight: 400;
}
.name-block:hover{
  text-decoration: underline;
}
.buy-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buy-block > button{
  display: block;
  text-align: right;
  float: right;
}

#price{
  background-color: limegreen;
  padding: 3px;
  border-radius: 3px;
}

.info{
  vertical-align:bottom;
}
.cont{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img{
  width:100%;
  min-width:100%;
  max-width:100%;
}
