:host{
  background-color: lightslategrey;
  width:20%;
}
.categories{
  display: flex;
  flex-direction: column;
}
.category-item{
  padding: 10px 40px;
  font-size: 20px;
  background: rgb(0, 153, 153);
  border-bottom: 1px solid rgb(0, 204, 204);
  color: floralwhite;
}
.category-item:hover{
  background-color: rgb(106, 224, 242);
}
#cart{
  position: absolute;
  border-radius: 50%;
  background-color: limegreen;

}
.button-cart {
  display: inline-block;
  margin: 40px;
  width: 100px;
  height: 100px;
  background: limegreen;
  cursor: pointer;
  border-radius: 50%;
}
