<div class="categories">
  <div class="category">
    <br>
  </div>
  <div class="category-item" *ngFor="let category of categories" (click)="findProductsByCategory(category)">
    {{category.name}}
  </div>
</div>
<br>
