<div class="user-mng">
  <div class="control-block">
    <input type="text" pInputText [(ngModel)]="search" placeholder={{selectedParam}}/>
    <p-dropdown [options]="params" [(ngModel)]="selectedParam" [style]="{'margin':'10px', 'width':'150px'}"
                placeHolder="Select param"></p-dropdown>
    <button pButton type="button" (click)="changeOrder()"icon={{icon}}></button>
    <button pButton type="button" (click)="searchClick()" icon="fa-search" label="Search"></button>
  </div>
  <div class="table-block">
    <table style="width:100%">
      <tr>
        <th (click)="changeSort('id')">ID</th>
        <th (click)="changeSort('username')">Username</th>
        <th (click)="changeSort('email')">Email</th>
        <th (click)="changeSort('phone')">Phone</th>
        <th (click)="changeSort('firstName')">FirstName</th>
        <th (click)="changeSort('lastName')">LastName</th>
        <th (click)="changeSort('dateOfRegistration')">Registration Date</th>
        <th>Lock</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.dateOfRegistration}}</td>
        <td>
          <button class="table-button" (click)="lockAccount(user)"><i class="fa"
                                                                [ngClass]="user.acountNonLocked ? 'fa-unlock-alt': 'fa-lock'"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<p-paginator rows="10" totalRecords={{pagesToPaginate}} [rowsPerPageOptions]="[5,10,20,30]"
             (onPageChange)="paginate($event)"></p-paginator>
