:host{

}
.user-mng{
  margin: 0px 4px;
  border: 1px solid darkgray;
}
.control-block{
  margin: 20px;
}
.table-block{
  margin: 20px;
}
.input{
  display: flex;
  flex-direction: row;
}
table{
}
th{
  background-color: rgb(15, 102, 122);
  padding: 5px;
  color: white;
  font-weight: bold;
}
th:hover{
  cursor: pointer;
}
tr:nth-child(2n){
  background-color: aliceblue;
}
tr:nth-child(2n+1) {
  background-color: lightcyan;
}
