<div *ngIf="cartItems" class = "present">
<table>
  <tr>
    <th></th>
    <th>Product name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Sum</th>
  </tr>
  <tr *ngFor="let cartItem of cartItems">
    <td><button class="cart-button" (click)="removeProductFromCart(cartItem.product)"><i class="fa fa-times"></i></button></td>
    <td>{{cartItem.product.name}}</td>
    <td align="center">{{cartItem.product.price}}</td>
    <td align="center">
      <button class="cart-button"(click)="decreaseProductInCart(cartItem.product)"><i class="fa fa-minus"></i></button>
      {{cartItem.quantity}}
      <button class="cart-button" (click)="increaseProductInCart(cartItem.product)"><i class="fa fa-plus"></i></button>
    </td>
    <td align="center">{{cartItem.product.price*cartItem.quantity}}</td>
  </tr>
</table>
<div id="price">
  Total Price: {{totalPrice}} UAH
</div>
<button class="button" (click)="createPurchase()">To Payment</button>
</div>
<div *ngIf="!cartItems" class="absent">

  <h3>Your cart is empty</h3>
  <button class="button" (click)="toProductPage()">To Product catalogue</button>
</div>

<p-dialog header="Authorize please" [(visible)]="displayAuthMessage" modal="modal" width="300" [responsive]="true">
  <p>Please sign in or sign up to confirm payment</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button class="button" (click)="displayAuthMessage=false"><i class="fa fa-check"></i>Ok</button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Not enough products in stock" [(visible)]="displayWantedMessage" modal="modal" width="300" [responsive]="true">
  <p>We have checked our stock, and found out that following products are not available in current quantities</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <!--<button type="button" pButton icon="fa-check" (click)="displayWantedMessage=false" label="Ok"></button>-->
      <button class="button" (click)="displayWantedMessage=false"><i class="fa fa-close"></i>Ok</button>
    </div>
  </p-footer>
</p-dialog>

