<div class="product-mng">
  <div class="control-block">
    <input type="text" pInputText [(ngModel)]="productName" placeholder="Product name"/>
    <p-autoComplete [ngModel]="category" (ngModelChange)="category=$event"
                    [suggestions]="filteredCategories" (completeMethod)="searchCategory($event)" field="name"
                    [dropdown]="true" (onDropdownClick)="handleCategoryDropdownClick($event)"
                    [style]="{'margin':'10px'}"
                    placeholder="Cat">
    </p-autoComplete>
    <button pButton type="button" (click)="changeOrder()" icon={{icon}}></button>
    <button pButton type="button" (click)="onSearchClick()" icon="fa-search" label="Search"></button>


    <button pButton type="button" icon="fa-plus" (click)="createProduct()" label="Create"></button>
  </div>

  <div class="table-block">
    <table style="width:100%">
      <tr>
        <th (click)="changeSort('id')">ID</th>
        <th (click)="changeSort('name')">Name</th>
        <th (click)="changeSort('category')">Category</th>
        <th (click)="changeSort('barcode')">Barcode</th>
        <th (click)="changeSort('quantity')">Quantity</th>
        <th (click)="changeSort('rate')">Rate</th>
        <th (click)="changeSort('views')">Views</th>
        <th width="3%">Edit</th>
        <th width="3%">Block</th>
        <th width="3%">Delete</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td (click)="sortByName()">{{product.name}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.barcode}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.rate}}</td>
        <td>{{product.views}}</td>
        <td>
          <button class="table-button" (click)="editProduct(product)"><i class="fa fa-gear"></i></button>
        <td>
          <button class="table-button" (click)="lockProduct(product)"><i class="fa"
                                                                         [ngClass]="product.nonBlocked ? 'fa-unlock-alt': 'fa-lock'"></i>
          </button>
        </td>
        <td>
          <button class="table-button" (click)="deleteProduct(product)"><i class="fa fa-trash"></i></button>
      </tr>
    </table>
    <p-paginator rows="10" totalRecords={{pagesToPaginate}} [rowsPerPageOptions]="[10,20,30]"
                 (onPageChange)="paginate($event)">
    </p-paginator>
  </div>
</div>
<p-dialog header={{dialogHeader}} [(visible)]="display" (onHide)="onHide($event)" modal="modal" width="400"
          responsive="true">

  <div class="main">
    <div class="field">
      <label for="name">Name:</label>
      <input type="text" id="name" pInputText [ngModel]="editedProduct?.name"
             (ngModelChange)="editedProduct.name=$event"/>
    </div>
    <div class="field">
      <label for="barcode">Barcode:</label>
      <input type="text" id="barcode" pInputText [ngModel]="editedProduct?.barcode"
             (ngModelChange)="editedProduct.barcode=$event"/>
    </div>
    <div class="field">
      <label for="quantity">Quantity:</label>
      <input type="text" id="quantity" pInputText [ngModel]="editedProduct?.quantity"
             (ngModelChange)="editedProduct.quantity=$event"/>
    </div>
    <div class="field">
      <label for="price">Price:</label>
      <input type="text" id="price" pInputText [ngModel]="editedProduct?.price"
             (ngModelChange)="editedProduct.price=$event"/>
    </div>
    <div class="field">
      <p-autoComplete [ngModel]="editedProduct?.category" (ngModelChange)="editedProduct.category=$event"
                      [suggestions]="filteredCategories" (completeMethod)="searchCategory($event)" field="name"
                      [dropdown]="true" (onDropdownClick)="handleCategoryDropdownClick($event)"
                      [style]="{'margin':'10px'}"
                      placeholder="Category" id="cat">
      </p-autoComplete>
    </div>

    <label for="pictures">Pictures:</label>
    <textarea id="pictures" rows="3" cols="42" pInputTextarea [ngModel]="pictureField"
              (ngModelChange)="pictureField=$event">
  </textarea>

    <label for="description">Description:</label>
    <textarea id="description" rows="3" cols="42" pInputTextarea [ngModel]="editedProduct?.description"
              (ngModelChange)="editedProduct.description=$event">
  </textarea>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="decline()" label="No"></button>
      <button type="button" pButton icon="fa-check" (click)="confirm()" label="Yes"></button>
    </div>
  </p-footer>
</p-dialog>
