:host{

}
.product-mng{
  margin: 0px 4px;
  border: 1px solid darkgray;
}
.control-block{
  margin: 20px;
}
.table-block{
  margin: 20px;
}
.input{
  display: flex;
  flex-direction: row;
}
table{
}
th{
  background-color: rgb(15, 102, 122);
  color: white;
  font-weight: bold;
  padding: 5px;
}
th:hover{
  cursor: pointer;
}
tr{
  border-radius: 3px;
  margin: auto;
}
tr:nth-child(2n){
  background-color: aliceblue;
}
tr:nth-child(2n+1) {
  background-color: lightcyan;
}
.field {
  clear:both;
  text-align:right;
  line-height:25px;
}
label {
  float:left;
  padding-right:10px;
}
.main {float:left}

