:host{
  /*margin: 0px 0px!important;*/
  display: flex;
  flex-direction: row;
  background: rgba(242,246,248,1);
  min-height: 80vh;
  background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #f5f7f9 100%);
}
