<div><input type="text" pInputText [(ngModel)]="productName" placeholder="Product name"/></div>
<div><p-autoComplete [ngModel]="category" (ngModelChange)="category=$event"
                [suggestions]="filteredCategories" (completeMethod)="searchCategory($event)" field="name"
                [dropdown]="true" (onDropdownClick)="handleCategoryDropdownClick($event)" [style]="{'margin':'10px'}"
                placeholder="Cat">
</p-autoComplete></div>
<div><button pButton type="button" (click)="onSearchClick()" icon="fa-search" label="Search"></button></div>
