
<div *ngIf="product">
  <div class="first-horizontal-block">
    <div *ngIf="showedPictures" class="picture-block">
      <p-galleria [images]="showedPictures" panelWidth="500" panelHeight="313" [showCaption]="false"></p-galleria>
    </div>
    <div class="action-block">
      <h1><b>{{product.name}}</b></h1>
      <p-rating [ngModel]="product.rate" stars="5" [cancel]="false" (onRate)="handleRate($event)"></p-rating>
      <br>
      <span id="price">{{product.price}} UAH</span>
      <br>
      <br>
      <span id=status *ngIf="product.quantity>1">AVAILABLE!</span>
      <br>
      <br>
      <button class="button" (click)="addProductToCart(product)">Buy!</button>
      <span *ngIf="msg" style="margin-left:10px">{{msg}}</span>
    </div>
  </div>
  <div class="second-horizontal-block">
    <p>{{product.description}}</p>
  </div>
</div>
<p-dialog header="Authorize please" [(visible)]="displayAuthMessage" modal="modal" width="300" [responsive]="true">
  <p>Please sign in or sign up to rate products</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button class="button" (click)="displayAuthMessage=false"><i class="fa fa-check"></i>Ok</button>
    </div>
  </p-footer>
</p-dialog>

