:host{
  text-shadow: -6px 6px 6px rgba(177, 184, 186, 0.85);
  min-height: 100vh;
}
.first-horizontal-block{
  display: flex;
  flex-direction: row;
}
.action-block{
  padding: 30px;
}
.second-horizontal-block{
  margin: 15px;
}

:host/deep/.ui-panel-images {
  display:block;
  margin:0 auto;
  height: 100%;
  width: auto;
}
#price{
  background-color: limegreen;
  padding: 3px;
  border-radius: 5px;
  color:white;
}
#status{
  background-color: orange;
  color: white;
  font-weight: bold;
  padding: 3px;
}
:host/deep/.ui-button{
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(3,255,221,1)), color-stop(100%, rgba(0,128,128,1)));
  }
.picture-block{
  padding: 20px;
}
