:host{
  min-height: 70vh;

}
.bar{
  display: flex;
  flex-direction: row;
  margin: 0px 4px;
}
.nav{
  background-color:aquamarine;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid black;
  border-collapse: separate;
}
.nav:hover{
  background-color: aqua;
  cursor: pointer;
}
