<div class="bar">
<div class="nav" (click)="toProductManagement()"><i class="fa fa-cubes"></i> Products</div>
<div class="nav" (click)="toUserManagement()"><i class="fa fa-users"></i> Users</div>
</div>
<router-outlet></router-outlet>
