#content{
  min-height: 70vh;
}
:host/deep/.ui-button{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(3,255,221,1)), color-stop(100%, rgba(0,128,128,1)));
  border-radius: 0;
  border: 0px;
}
:host/deep/.ui-button:hover{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(300,255,221,1)), color-stop(100%, rgba(0,128,128,1)));
  border: 0px;
  border-radius: 0;
}
