:host {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: linear-gradient(to bottom, rgb(55, 120, 129), rgb(140, 152, 153));
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: "Heebo";
}

