<div class="no-auth-block" *ngIf="!user">
  <button pButton type="button" icon="fa-plus" (click)="showSignInDialog()" label="Sign in"></button>
  <button pButton type="button" icon="fa-plus" (click)="showSignUpDialog()" label="Sign up"></button>
</div>
<div class="auth-block" *ngIf="user"><i class="fa fa-user"></i>  <span>{{user?.username}}</span>
  <button pButton type="button" icon="fa-user-circle" [ngClass]="{invisible: !isAdmin()}"
          (click)="toAdminPage()" label="ADMIN"></button>
  <button pButton type="button" icon="fa-user-times" (click)="logOut()" label="Log out"></button>
</div>

<!--    S I G N   I N    D I A L O G    -->

<p-dialog header="Log in" [(visible)]="displaySignInDialog" modal="modal" width="300" responsive="true">
  <p>Please enter username and password</p>
  <input type="text" placeholder="Login" pInputText [(ngModel)]="username"/>
  <br>
  <input type="password" placeholder="Password" pPassword [(ngModel)]="password"/>
  <p [ngClass]="{invisible: isWarningMessageInvisible}">Unauthorised</p>
  <br>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <!--<button type="button" pButton icon="fa-close" (click)="cancelModal()" label="Cancel"></button>-->
      <!--<button type="button" pButton icon="fa-check" (click)="signIn()" label="Confirm"></button>-->
      <button class="button" (click)="cancelModal()"><i class="fa fa-close"></i>Cancel</button>
      <button class="button" (click)="signIn()"><i class="fa fa-check"></i>Confirm</button>
    </div>
  </p-footer>
</p-dialog>

<!--    S I G N   U P    D I A L O G   -->

<p-dialog header="Sign up" [(visible)]="displaySignUpDialog" modal="modal" width="400" responsive="true">
  <p>Please enter next info:</p>
  <div class="main">
    <div class="form-group">
      <label>Username</label>
      <input pInputText class="form-control" name="name" [(ngModel)]="username" #name="ngModel" required
             pattern="[a-zA-Z0-9_]{4,}"/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Please enter username(At least 4 symbols)
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" pPassword class="form-control" name="password" [(ngModel)]="password" #userpass="ngModel"
             required pattern="[a-zA-Z0-9_]{8,}"/>
      <div [hidden]="userpass.valid || userpass.untouched" class="alert alert-danger">
        Please enter password(At least 8 characters)
      </div>
    </div>
    <div class="form-group">
      <label>Password again</label>
      <input type="password" pPassword class="form-control" name="password2" [(ngModel)]="passwordAgainField" #userpass2="ngModel"
             required pattern="[a-zA-Z0-9_]{8,}"/>
      <div [hidden]="userpass2.valid || userpass2.untouched || userpass.model==userpass2.model"
           class="alert alert-danger">
        Passwords do not match
      </div>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input pInputText class="form-control" name="firstName" [(ngModel)]="firstName" #userfirst="ngModel"
             required/>
      <div [hidden]="userfirst.valid || userfirst.untouched" class="alert alert-danger">
        Please enter your first name
      </div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input pInputText class="form-control" name="lastName" [(ngModel)]="lastName" #userlast="ngModel"
             required/>
      <div [hidden]="userlast.valid || userlast.untouched" class="alert alert-danger">
        Please enter your last name
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input pInputText class="form-control" name="email" [(ngModel)]="email" #usermail="ngModel"
             required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
      <div [hidden]="usermail.valid || usermail.untouched" class="alert alert-danger">
        Please enter your email
      </div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input pInputText class="form-control" name="phone" [(ngModel)]="phone" #userphone="ngModel"
             required pattern="\d{3}-\d{3}-\d{2}-\d{2}"/>
      <div [hidden]="userphone.valid || userphone.untouched" class="alert alert-danger">
        Mobile phone XXX-XXX-XX-XX
      </div>
    </div>
    <div class="form-group">
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button class="button" (click)="cancelModal()"><i class="fa fa-close"></i>Cancel</button>
      <button class="button" [disabled]="name.invalid || usermail.invalid || userphone.invalid || userfirst.invalid ||
      userlast.invalid || userpass.invalid || userpass.model!=userpass2.model"
              (click)="signUp()"><i class="fa fa-check"></i>Confirm
      </button>
    </div>
  </p-footer>
</p-dialog>
