.invisible{
  visibility: hidden;
}

.form-group {
  clear:both; text-align:right;
  line-height:25px;
  margin: 3px;
}
.main{
  float: left;
}
label{
  float: left;
  padding-right: 10px;
}

span{
  color:white
}
i{
  color: white;
}
input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}
