<div class="sorting-bar">
  <sorting-bar></sorting-bar>
</div>
<div [hidden]="products!=null" class="no-products">
  <p>Sorry, but no products found..</p>
</div>
<div class="product-container">
<product-list-item *ngFor="let product of products" [product] = product ></product-list-item>
</div>
<div class="paginator">
<p-paginator rows="9" totalRecords={{pagesToPaginate}} [rowsPerPageOptions]="[3,9,18,27]" (onPageChange)="paginate($event)"> </p-paginator>
</div>
