:host {
  width: 100%;
  margin: 0px 0px;
  background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #f5f7f9 100%);
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 0px;
  min-height: 70vh;
}
.sorting-bar{
  display: flex;
  flex-direction:row;
  justify-content: center;
  width: 100%;
}
.no-products{
  position: absolute;
  margin: 40px;
}

.paginator {
  flex: 0 0 auto;
}

