<div class="control">
  Sort by:
<p-dropdown [options]="sortParams" (onChange)="changeSortBy($event)"[(ngModel)]="selectedSort"></p-dropdown>
  Order by:
  <i class={{icon}} (click)="changeOrder()" aria-setsize="10px"></i>
</div>
