:host{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info{
  margin: 30px;
}
.credit-cart {
  margin: 30px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  background: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
}
.form-group {
  margin: 3px;
}
.warnings{
  color:red;
}
