<div class="info">
<h1>Card payment simulation</h1>
  <h2 style="color: darkred;">Do not enter your credit card data</h2>
</div>
<div class="credit-cart">
  <div class="form-group">
    <input pInputText class="form-control" name="number" maxlength="16" [(ngModel)]="number"
           #numberField="ngModel"
           required pattern="[0-9]{16}" placeholder="Card number"/>
  </div>
  <br>
  <div class="form-group">
    <input pInputText class="form-control" maxlength="2" size="2" name="month" [(ngModel)]="month" #monthField="ngModel"
           required pattern="[0-9]{2}" placeholder="MM"/>
    <input pInputText class="form-control" maxlength="2" size="2" name="year" [(ngModel)]="year" #yearField="ngModel"
           required pattern="[0-9]{2}" placeholder="YY"/>
  </div>
  <div class="form-group">
    <input pInputText class="form-control" name="holder" [(ngModel)]="holder" #holderField="ngModel"
           required placeholder="Cardholder"/>
  </div>
</div>
<div class="control">
  <button class="button" (click)="toCart()"><i class="fa fa-close"></i>Cancel</button>
  <button class="button" [disabled]="numberField.invalid || yearField.invalid || holderField.invalid"
          (click)="confirmPayment()"><i class="fa fa-check"></i>Confirm</button>
</div>
<div class="warnings">
  <div [hidden]="numberField.valid || numberField.untouched || yearField.valid || yearField.untouched || holderField.valid || holderField.untouched"
       class="alert alert-danger">
    WARNING: Invalid data
</div>
  </div>

<p-dialog header="Successful" [(visible)]="displayPurchase" modal="modal" width="300" [responsive]="true">
  <p>The invoice was send to your email. You can download right now clicking button below</p>
  <button type="button" pbutton icon="fa-download" (click)="downloadPdf()">Download invoice</button>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button class="button" (click)="displayPurchase=false; toLanding()"><i class="fa fa-check"></i>Ok</button>
    </div>
  </p-footer>
</p-dialog>
